*{
    margin: 0;
    padding: 0;
    font-family: arial;  
}

.header{
    padding-top: 80px;
    padding-bottom: 70px;
    text-align: center;
    background: rgb(111, 2, 2);
    color: rgb(2, 168, 2);
}

.header-h1{
    font-size: 70px;
    font-family: georgia;
}

.h2{
    color: rgb(229, 192, 192);
    padding-top: 10px;
    padding-bottom: 1.5px;
    font-size: 50px;
    font-family: georgia;
}

.footer{
    background: rgb(111, 2, 2);
    color: rgb(231, 235, 231);
    text-align: right;
}

.footer-p{
    width:  90%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.h1{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 5px;
    font-family: georgia;
}

.cor1{
    background: rgb(111, 2, 2);
    color: rgb(2, 168, 2);
    text-align: center;
}

.text-justify{
    text-align: justify;
    padding-bottom: 5px;
    line-height: 1.5;
    font-size: 25px;
}

.img-container{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.img-100{
    width: 100%;
}

.section-container{
    padding-bottom: 20px;
    padding-top: 10px;
}